<!DOCTYPE html>
<html>
<head>
<title>Community Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
</head>
<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Logo</a>
 </div>
</div>

<!-- Navbar on small screens -->
<!--  -->

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">My Profile</h4>
         <p class="w3-center"><img src="https://image.shutterstock.com/image-vector/user-login-authenticate-icon-human-260nw-1365533969.jpg" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Student</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>Mumbai, India</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1,2002</p>
        </div>
      </div>
      <br>
      
      <!-- Accordion -->
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
          <div id="Demo1" class="w3-hide w3-container">
            <p>Some text..</p>
          </div>
          <button onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
          <div id="Demo2" class="w3-hide w3-container">
            <p>Some other text..</p>
          </div>
          <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
          <div id="Demo3" class="w3-hide w3-container">
         <div class="w3-row-padding">
         <br>
           <div class="w3-half">
             <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/snow.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
         </div>
          </div>
        </div>      
      </div>
      <br>
      
      <!-- Interests --> 
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Interests</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">News</span>
            <span class="w3-tag w3-small w3-theme-d4">GlowAndGrow</span>
            <span class="w3-tag w3-small w3-theme-d3">Nutrition</span>
            <span class="w3-tag w3-small w3-theme-d2">NewDiets</span>
            <span class="w3-tag w3-small w3-theme-d1">CareForMoms</span>
            <span class="w3-tag w3-small w3-theme">BabyCAre</span>
            <span class="w3-tag w3-small w3-theme-l1">Yogalicious!</span>
            <span class="w3-tag w3-small w3-theme-l2">EatHealthy</span>
            <span class="w3-tag w3-small w3-theme-l3">GreenANdGood</span>
            <span class="w3-tag w3-small w3-theme-l4">ArtforNature</span>
            <span class="w3-tag w3-small w3-theme-l5">HEALTH PODCASTS</span>
          </p>
        </div>
      </div>
      <br>
      
      <!-- Alert Box -->
      
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="w3-col m7">
    
      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
              <h6 class="w3-opacity">Community</h6>
              <input type="text" contenteditable="true" class="w3-border w3-padding" id="post-text" placeholder="post something here">
              <button type="button" class="w3-button w3-theme" id="post-button" onclick="post()"><i class="fa fa-pencil"></i>  Post</button> 
            </div>
          </div>
        </div>
      </div>

      <span id="post">
        
      </span>
      
      <!-- <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">1 min</span>
        <h4>John Doe</h4><br>
        <hr class="w3-clear">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="w3-row-padding" style="margin:0 -16px">
            <div class="w3-half">
              <img src="/w3images/lights.jpg" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
            </div>
            <div class="w3-half">
              <img src="/w3images/nature.jpg" style="width:100%" alt="Nature" class="w3-margin-bottom">
          </div>
        </div>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" id="3"><i class="fa fa-thumbs-up"></i>  Like</button> 
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"  onclick="showComment('3')"><i class="fa fa-comment"></i>  Comment</button> 
        <span id="3"> </span>
      </div> -->
      
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="https://3f76ee1ce067134369ef-f23b5995d77526a95a1605453309cdf1.ssl.cf1.rackcdn.com/events/photos/415/5fba464dcb2b2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:70px;height: 70px;">
        <span class="w3-right w3-opacity">16 min</span>
        <h4>Yashika Shah</h4><br>
        <hr class="w3-clear">
        <p>Imagine being 106Kg! The worst feeling ever! but I never held it agaist myself...I decided that I wil come out of this and Im sure you can too! Im avaialable at the GlowAndGrow Community to grow and glow😊 </p>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom" onclick="showComment('2')"><i class="fa fa-comment"></i>  Comment</button> 
        <span id="2"> </span>
      </div>  

      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <img src="https://tse2.mm.bing.net/th/id/OIP.whX8HjkTnJnVBz9j0aGknwHaDX?pid=ImgDet&rs=1" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:70px;height: 70px;">
        <span class="w3-right w3-opacity">32 min</span>
        <h4>Smeetha Singh</h4><br>
        <hr class="w3-clear">
        <p>Have you seen this?</p>
        <img src="https://www.otsuka.co.jp/en/nutraceutical/about/nutrition/womens-health-and-nutrition/pregnancy-nursing/img/recommendation_im01.png" style="width:100%" class="w3-margin-bottom">
        <p>A MOM in 30s! While some may always take pregnancy for a happy twist it always isnt! The risk involved, the challenges faced, the new nutrition....a whole different World.Join me on CareForMoms to hear my and millions of other stories</p>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom" onclick="showComment('1')"><i class="fa fa-comment"></i>  Comment</button> 
        <span id="1"> </span>
      </div> 
      
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/0f/81/4b/2a/karibe-hotel.jpg" alt="Forest" style="width:100%;">
          <p><strong>Holiday</strong></p>
          <p>Friday 15:00</p>
          <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
        </div>
      </div>
      <br>
      
      <!--  -->
      <br>
      
      
      
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>Footer</h5>
</footer>

<footer class="w3-container w3-theme-d5">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>
 <script src="js/Community.js"></script>


</body>
</html> 
