<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="css/details.css">
</head>
<body color="#eda75d">
  <div class="bg-img">
    <div class="container">
        <div class="title">Hey <%= locals.name || "User" %>, kindly enter the details below</div>
      <div class="content">
        <form action="/details" method="post" >
            <div class="user-details">
              <div class="input-box">
                <span class="details">Full Name</span>
                <input type="text" placeholder="Enter your name" required name="fullname" id="fn">
              </div>
              <div class="input-box">
                <span class="details">Age</span>
                <input type="number" placeholder="Enter your age" required name="age" id="a">
              </div>
              <div class="input-box">
                <span class="details" >Weight</span>
                <input type="number" id="det" placeholder="Enter your weight" required name="weight" id="w">
                
              </div>
              <div class="input-box">
                <span class="details">Height</span>
                <input type="number" placeholder="Enter your height" required name="height" id="h">
              </div>
              <div class="input-box">
                <span class="details">Target Weight</span>
                <input type="number" placeholder="Enter your Target Weight" required name="targetWeight">
              </div>
      
            </div>
            
            <div class="button">
              <input type="submit" value="Register">
            </div>  
          </form>
      </div>
      </div>
    </div>
    <script src="js\details.js"> </script>
</body>
</html>