<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/form.css">
    <title>form</title>
</head>
<body>
    <div class="forminput" id="myForm">
        <form action="" class="form-container">
          <h1>Reminder Timings</h1>
          <h2>what time do you have breakfast</h2>
          <input type="radio" id="9-10" name="bftimings" value="9-10">
          <label for="9-10">9-10</label><br>
          <input type="radio" id="8-9" name="bftimings" value="8-9">
          <label for="8-9">8-9</label><br>
          <input type="radio" id="10-11" name="bftimings" value="10-11">
          <label for="10-11">10-11</label><br>
          <button name="bftimings">Submit</button>
          <h2>What time do you have breakfast?</h2>
          <input type="radio" id="1-2" name="ltimings" value="1-2">
          <label for="1-2">1-2</label><br>
          <input type="radio" id="12-1" name="ltimings" value="12-1">
          <label for="12-1">12-1</label><br>
          <input type="radio" id="2-3" name="ltimings" value="2-3">
          <label for="2-3">2-3</label><br>
          <button name="ltimings">submit</button>
          <h2>What time do you have dinner?</h2>
          <input type="radio" id="7-8" name="dtimings" value="7-8">
          <label for="7-8">7-8</label><br>
          <input type="radio" id="8-9" name="dtimings" value="8-9">
          <label for="8-9">8-9</label><br>
          <input type="radio" id="9-10" name="dtimings" value="9-10">
          <label for="9-10">9-10</label><br>
          <button name="dtimings">Submit</button><br>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div>
</body>
</html>