<!DOCTYPE html>
<html>
<head>
<title>Keep Me Updated</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey">

<div class="w3-content" style="max-width:1400px">

<header style="background-color:#bcd4e6" class="w3-container w3-center w3-padding-32"> 
  <h1><b>UPDATES</b></h1>
  <p>Keep Yourself Updated Here!</p>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <div class="w3-card-4 w3-margin w3-white">
    <img src="images/image1.jpg" alt="image not visible" style="width:100%">
    <div class="w3-container">
      <h3><b>Nerd Fitness</b></h3>
      <h5>A fitness website for nerds, <span class="w3-opacity">September 24, 2022</span></h5>
    </div>

    <div class="w3-container">
      <p>Nerd Fitness started in 2009 as a way to help people live a healthy life in any way they can. Founder, Steve Kamb aims to help the average Joe. They offer programs to help normal people lose weight, build muscle, and get strong. The blog part of the Nerd Fitness website really focuses on beginners. You only need to read one article to understand who their target audience is. It’s all about getting started, helping beginners, and taking the first step to a healthier lifestyle. The Nerd Fitness site expanded with its Nerd Fitness Coaching app so that users can read the blog wherever they are.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b><a href="https://www.nerdfitness.com/">READ MORE »</a></b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">0</span></span></p>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="w3-card-4 w3-margin w3-white">
  <img src="images/image3.jpg" alt="Image not visible" style="width:100%">
    <div class="w3-container">
      <h3><b>Born Fitness</b></h3>
      <h5>Born Fitness is an online fitness and nutrition coaching platform, <span class="w3-opacity">September 22, 2022</span></h5>
    </div>

    <div class="w3-container">
      <p>Born Fitness is a big source for health and fitness. The blog aims to take the stress out of health, fitness, and nutrition. They have a no-hype, straightforward tone that delivers informative yet engaging content. Founder of Born Fitness Adam Bornstein works with world-class fitness experts to deliver clear and helpful answers. It’s about finding solutions to your needs and accessing jargon-free information. Born Fitness is designed for real people who want expert advice in a simple, easy-to-digest format.</p>
      <div class="w3-row">
        <div class="w3-col m8 s12">
          <p><button class="w3-button w3-padding-large w3-white w3-border"><b><a href="https://www.bornfitness.com/">READ MORE »</a></b></button></p>
        </div>
        <div class="w3-col m4 w3-hide-small">
          <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
        </div>
      </div>
    </div>
  </div>

  <!--video entry-->
  <div class="w3-card-4 w3-margin w3-white">
    <iframe width="100%" src="https://www.youtube.com/embed/JVfH7R7Q6nc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <!--<img src="image3.jpg" alt="Image not visible" style="width:100%">-->
      <div class="w3-container">
        <h3><b>Yoga</b></h3>
        <h5>20 min full body yoga, <span class="w3-opacity">September 22, 2022</span></h5>
      </div>
  
      <div class="w3-container">
        <p>A comfortable place to fill up on all things yoga. The cup of yoga appears to be not quite daily anymore, but there’s more than enough to keep my interest, and a large archive. The guest bloggers are good. There seems to be nothing but guest bloggers lately, however, which is possibly a sign that this popular blog is winding down.Definitely the highest density of interesting, original posts with lots of engagement in the comment threads as well. Mr. J. Brown is doing it right. This well-designed blog is easy on the eyes too. He has to be forgiven for posting only once a month recently. I’m sure he has a day job.</p>
        <div class="w3-row">
          <div class="w3-col m8 s12">
            <p><button class="w3-button w3-padding-large w3-white w3-border"><b><a href="https://youtu.be/JVfH7R7Q6nc">READ MORE »</a></b></button></p>
          </div>
          <div class="w3-col m4 w3-hide-small">
            <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
          </div>
        </div>
      </div>
    </div>
<!--video over-->
<!--video entry 2-->
<div class="w3-card-4 w3-margin w3-white">
    <iframe width="100%" src="https://www.youtube.com/embed/R_6L4MQvxzU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="w3-container">
        <h3><b>Workout</b></h3>
        <h5>20 min full body workout, <span class="w3-opacity">September 22, 2022</span></h5>
      </div>
  
      <div class="w3-container">
        <p>When you are committed to a full-body workout training split, you don’t go a workout session without working each of the major muscle groups. That means, if you do end up skipping a session, it won’t matter as much as if you were focusing on one muscle group at a time. This is because the sessions previous to the skipped session and the one afterwards will have worked your muscles in turn so there’s not one group left behind.A full-body workout training split means that you need to make less of a commitment to working out. Doing full-body workouts every day will not give you the best results because you need rest time in between. This means you only need to go approximately 3 times per week with alternating days off. With a lower time commitment to the gym, that means you have more time to fit in other things in your life.</p>
        <div class="w3-row">
          <div class="w3-col m8 s12">
            <p><button class="w3-button w3-padding-large w3-white w3-border"><b><a href="https://youtu.be/R_6L4MQvxzU">READ MORE »</a></b></button></p>
          </div>
          <div class="w3-col m4 w3-hide-small">
            <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-badge">2</span></span></p>
          </div>
        </div>
      </div>
    </div>
    <!--video 2 over-->
</div>

<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="images/image4.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>Balanced Diets</b></h4>
      <p>A balanced diet contributes toward maintaining a healthy life. A diet is the inclusion of different necessary nutrients that impact a body’s growth and development. A balanced nutrition diet contributes to maintaining good health by balancing nutrients. This type is extremely crucial to getting the right nutrients and determines good health and growth.</p>
    </div>
  </div><hr>
  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      <li class="w3-padding-16">
        <img src="image5.jpg" alt="Image" class="w3-left w3-margin-right" style="width:60px">
        <span class="w3-large">Keto Diet</span><br>
        <span>a high-fat, adequate-protein, low-carbohydrate mainstream diet</span>
      </li>
      <li class="w3-padding-16">
        <img src="images/image6.jpeg" alt="Image" class="w3-left w3-margin-right" style="width:35px">
        <span class="w3-large">South Beach Diet</span><br>
        <span>stresses the significance of controlling hunger by eating before it strikes</span>
      </li> 
      <li class="w3-padding-16">
        <img src="images/image7.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Volumetrics Diet</span><br>
        <span>lose weight by eating fewer calories and yet feel full
</span>
      </li>   
      <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <img src="images/image8.png" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large">Macrobiotic Diet</span><br>
        <span>helps promote whole foods when compared to processed foods</span>
      </li>  
    </ul>
  </div>
  <hr> 
 
  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    <p><span class="w3-tag w3-black w3-margin-bottom">Nutrition</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Yoga</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Diets</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Ketosis</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Vitamins</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Health</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Fruits</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Calorie</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Health Juices</span>
      <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">News</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Salads</span> <span class="w3-tag w3-light-grey w3-small w3-margin-bottom">Vegan</span>
    </p>
    </div>
  </div>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

</body>
</html>
