<h1>loogin</h1>
<form action="/login" method="post">
    <div>
        <label for="email">email</label>
        <input type="text" name="email" id="email" required>
    </div>
    <div>
        <label for="password">password</label>
        <input type="password" name="password" id="password" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

 
<!-- 
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">NameOf WEBSITE</h1>
    <p>Name, a website build to create health awareness<br>The website has helped many individuals gain back their health control</p>
  </div>
  <div>
    <form action="/login" class="container">
      <h1 class="formhead" align="center">LOGIN</h1>
      <br>
      <label for="email" id="label" ><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" required>
  
      <label for="password" id="label" ><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
  
      <button type="submit" class="btn">Login</button>
      <h5 align="center " id="label">Want to sign up<a  href="/register">SIGN-UP</a></h5>
    </form>
  </div>
</div>


</body>
</html> -->
