<!-- <h1>register!!!!</h1>
<form action="/register" method="POST">
    <div>
        <label for="name">name</label>
        <input type="text" name="name" id="name" required>
    </div>
    <div>
        <label for="email">email</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div>
        <label for="password">password</label>
        <input type="password" name="password" id="password" required>
    </div>
    <div>
        <button type="submit">register</button>
    </div>
</form>

<% if (true) { %>
 <a href="/login">looogin</a>
<% } %> -->

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">Fitness App</h1>
    <p>Name, a website build to create health awareness<br>The website has helped many individuals gain back their health control</p>
  </div>
  <div>
    <form action="/register" class="container">
      <h1 class="formhead" align="center">Sign-UP</h1>
      <br>
      <label for="email" id="label" ><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" required>
  
      <label for="psw" id="label" ><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" required>
  
      <button type="submit" class="btn">Register</button>
      <h5 align="center " id="label">already a user.<a  href="/login">LOGIN</a></h5>
    </form>
  </div>
</div>


</body>
</html>
